#root {
  width: 100%;
  text-align: center;
}

.cont {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  column-gap: 5px;
  row-gap: 5px;
  /* grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 5px; */
}
